/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$h2-color:              #800080 !default;
$headings-font-weight:  500 !default;
$font-family-sans-serif: Helvetica !default;
$navbar-fg:             #800080 !default;
$navbar-hl:             #333333 !default;
$nav-link-hover-color:  #333333;
$nav-tabs-border-color: #333333;
$nav-tabs-border-width: 1;
$border-width:                3px !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #800080;
}

.navbar-title {
  font-weight: bold;
  font-size: 32px;
}