ipykernel==6.21.2
ipython==8.10.0
jsonschema==4.17.3
jupyter==1.0.0
matplotlib==3.7.0
matplotlib-inline==0.1.6
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
numpy==1.24.2
pandas==1.5.3
PyYAML==6.0