body {
  background-color: white;
  font-family: monospace;
  color: black;
  margin: 2rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

a {
  color: blue;
  text-decoration: underline;
}

code {
  background: none;
  padding: 0;
  color: darkred;
}

pre {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0.5em;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.25em;
}